---
import Layout from "../layouts/Layout.astro";
import { BackButton } from "../components/ui/components";
---
<Layout title="404">
  <section class="base-page">
      <h1 class=" text-8xl font-extrabold text-center">404</h1>
      <p class="text-zinc-300 text-center">Page not found</p>
      <BackButton Text="Go to Home"/>
  </section>
</Layout>