---
import Layout from "../layouts/Layout.astro";
import FormTaxas from '../components/FormTaxas'
---
<Layout title="4x1000">
  <section class="base-page">
    <FormTaxas taxt='4x1000' client:visible/>
  </section>
</Layout>