---
import Layout from "../layouts/Layout.astro";
import CalculadoraAhorros from "../components/FormAhoros";
---

<Layout title="Ahorros">
  <section class="base-page">
    <CalculadoraAhorros client:visible/>
  </section>
</Layout>
