---
import Layout from "../layouts/Layout.astro";
import AmortizationCalculator from "../components/FormArtz";
---

<Layout title="Amortizacion">
  <section >
    <AmortizationCalculator client:visible/>
  </section>
</Layout>