---
import Layout from "../layouts/Layout.astro";
import AmortizationCalculator from "../components/FormArtz";
---

<Layout title="Amortizacion">
  <section class="grid place-content-center h-full w-auto  py-2">
    <AmortizationCalculator client:visible/>
  </section>
</Layout>