---
import Layout from "../layouts/Layout.astro";
import InvestmentCalculator from '../components/FormInversones'
---
<Layout title='Inversiones'>
  <section class="base-page">

    <InvestmentCalculator client:visible/>
  </section>
</Layout>
