---
import Layout from "../layouts/Layout.astro";
import FormTaxas from '../components/FormTaxas'
---
<Layout title="Iva">
  <section class="base-page">
    <FormTaxas taxt='IVA' client:visible/>
  </section>
</Layout>