---
import Layout from "../layouts/Layout.astro";
import FormPrestamo from "../components/FormPrestamo.tsx";

---
<Layout title='Prestamos'>
  <section class="base-page">
  
  <FormPrestamo client:visible/>
  </section>

</Layout>
