---
import Layout from "../layouts/Layout.astro"
import FormPres from '../components/FormPresupuesto'
---
<Layout title="Presupuesto">
  <section class="base-page">
    <FormPres client:visible/>
  </section>
</Layout>